@import "variables";

*{
	font-family: 'Hind', sans-serif;
}

html, body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	
	background-color: $body-bg;
	text-align: center;
}

.container{
	width: 100%;
	height: 100vh;

	// @include media(">phone", "<=tablet") {
	// 	width: 50%;
	// }

	// @include media("≥phone", "≤tablet") {
	// 	line-height: 1.5;
	// }


	.left_pane{
	    display: table-cell;
	    width: 100%;
	    vertical-align: top;
		height: 100vh;
		
		background-color: #eee;
		

	} 

	.right_pane{
	    display: table-cell;
	    min-width: 600px;
		height: 100vh;

		box-shadow: 15px 0 50px #888;
		background-color: #fff;

		.rp_contents{
			padding: 20px 30px;
			text-align: left;
			position: fixed;
			opacity: 1;
			@include animation('SubtleFadeFromStart 4s 1');

			.rp_title{
				padding-bottom: 4px;

				font-size: 32pt;
				font-family: 'Crimson Text', serif;
			}

			.rp_tagline{
				font-size: 14pt;
				// font-weight: bold;
				font-weight: 400;
				font-family: 'Hind', sans-serif;
				color: #666;
			}

			.rp_menu{
				padding: 140px 0;

				ul{
					padding: 0;
					margin: 0;

					list-style-type: none;

					li{
						padding-bottom: 11px;

						a{
							font-size: 20pt;
							font-family: 'Crimson Text', serif;
							color: #999;
							text-decoration: none;
						}
						a.active{
							color: #000;
						}
						a:hover{
							color: #111;
						}
					}
				}
			}

			.rp_bottom{
				width: calc(600px - 60px);
				position: absolute;
				top: calc(100vh - 200px);

				.rpb_hint{
					padding-bottom: 120px;

					color: #666;
					font-family: 'Hind', sans-serif;

				}

				.rpb_socialcv{
					height: 34px;
					width: 100%;
					position: relative;

					a:nth-child(1){ color: #0077B5; }
					a:nth-child(2){ color: #000; }
					a:nth-child(3){ color: #4075f7; }
					// a:nth-child(3){ color: #0077B5; }

					a i{
						height: 32px;
						margin-right: 20px;

						font-size: 22pt;
						float: left;

							padding-bottom: 0px;
							border: none;
							border-bottom: 3px solid #fff;
							outline: none;
							-webkit-transition-duration: 200ms;
							transition-duration: 200ms;
					}
					a i:hover{
						// padding-bottom: 2px;

						border-bottom: 3px solid #bbb;
						cursor: pointer;
					}

					.rpbs_cv{
						height: 34px;
						padding-left: 12px;
						padding-right: 12px;
						
						text-align: right;
						vertical-align: middle;
						font-weight: 600;
						font-size: 13pt;
						padding-bottom: 0px;
						border: none;
						border-bottom: 3px solid #fff;
						border-radius: 2px;
						background-color: #fff;
						outline: none;
						-webkit-transition-duration: 200ms;
						transition-duration: 200ms;
					}

					.rpbs_cv:hover{
						padding-bottom: 2px;
						border-bottom: 3px solid #bbb;
						cursor: pointer;
					}
				}
			}
		}

	}
}

